<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.preschoolme.memory.MemoryMapper">

    <!-- 수정 전 원래 있던 내용 불러오기 -->

    <select id="selMemory">
        SELECT memory_title as memoryTitle, memory_contents as memoryContents
        FROM t_memory
        WHERE imemory = #{imemory};
    </select>
    <select id="selMemoryPic">
        select imemory_pic
        from t_memory_album
        where imemory = #{imemory}
    </select>

    <insert id="insComment" useGeneratedKeys="true" keyProperty="imemoryComment">
        insert into t_memory_comment
        set imemory = #{imemory}, memory_commnet = #{memoryComment},
        iteacher = #{iteacher}, iparent = #{iparent}
    </insert>


</mapper>
